
@use 'var' as v;

.rooms-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    max-width: 1500px;

    .room-container {
        position: relative;
        display: flex;
        flex-flow: column;
        width: 100%;
        border: 1px solid black;
        border-radius: 8px;
        overflow: hidden;

        .room-body {
            padding: v.$padding-text;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .room-data {
                display: flex;
                justify-content: space-between;
                gap: 20px;
            }
        }

        .popular {
            position: absolute;
            top: 8px;
            left: 20px;
            left: v.$padding-text;
            width: fit-content;

            background-color: orange;
            padding: v.$padding-text;
            border-radius: 8px;
            z-index: 2;
        }

        .room-image {
            object-fit: cover;
            background-color: aqua;
            height: 15dvh;
            padding: 0;
            overflow: hidden;
        }
    }
}