* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

nav, footer, main {
    width: 100%;
    max-width: 1500px;
}

main {
    padding: 25px 30px;
}

.bg-primary {
    background-color: #0E4A5A;
    color: white;
    font-size: 1.1rem;
    padding: 1rem 1.1rem;
    border-radius: 15px;
    text-decoration: none;
    margin: 5px 10px;

    &:hover {
        background-color: #0B3A46;
    }
        
}

hr {
    width: 100%;
    border: none;
    border-top: 1px solid #000000;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 10px;
    margin: 0;

}
.flex {
    display: flex;
    gap: 50px;
}

nav {
    padding: 20px 30px;
}

.navinfo {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    padding: 0.8rem 1.6rem;
    border-radius: 10px;
    border: 2px solid white;

    &:hover {
        border-color: #00000040;
        
        
    }
}

.lightgraytext {
    color: #A9A9A9;
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
}


.textcenter {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.header {
    font-size: 2.2em;
    margin-bottom: 10px;
    margin-top: 3%;
}

.ordernumber {
    font-weight: bold;
    font-size: 1.5em;
    margin: 3%;
}

.confirmtext {
    font-size: 1.3em;
    margin: 5%;
}


.listtext {
    font-size: 1rem;
    margin: 20px;

}

.margin {
    margin-bottom: 5%;
}



    
  