.carousel-container {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  .main-image-wrapper {
    .nav-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.5);
      border: none;
      color: white;
      padding: 10px;
      cursor: pointer;
      z-index: 1;
      &.prev {
        left: 10px;
      }
      &.next {
        right: 10px;
      }
    }
    .main-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .indicators-images {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 50px;
    .indicator img {
      width: 100px;
      height: 60px;
      object-fit: cover;
      object-position: center;
      border: 2px solid transparent;
      cursor: pointer;
    }
    .indicator.active {
      background-color: #0e4a5a;
    }
  }
}
